{
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "singleAttributePerLine": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.ejs"],
      "options": {
        "singleAttributePerLine": false
      }
    }
  ]
}
