<title>Instance • Starfrost</title>
<link rel="stylesheet" href="/instanceid.css" />
<link rel="stylesheet" href="/xterm.min.css" />

<div class="terminal">
  <div id="console-output"></div>
  <div class="console">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-terminal-icon lucide-terminal"
    >
      <path d="M12 19h8" />
      <path d="m4 17 6-6-6-6" />
    </svg>
    <input type="text" name="console-input" id="console-input" placeholder="Type your command here..." />
  </div>
</div>
