<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/login.css" />
    <script type="module" src="/jquery.js"></script>
    <script type="module" src="/lib.js"></script>
    <title>Login • Starfrost</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <form id="loginForm" method="POST" action="/app" class="form">
          <div class="title"><span>Starfrost</span></div>
          <div class="data">
            <label for="username">Username</label>
            <input type="text" name="username" id="username-input" required />
          </div>

          <div class="data">
            <label for="password">Password</label>
            <input type="password" name="password" id="password-input" required />
          </div>
          <button type="submit">Log in</button>
        </form>
      </div>
    </div>
  </body>
</html>
