<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/base.css" />
    <script type="module" src="/jquery.js"></script>
    <script type="module" src="/lib.js"></script>
  </head>
  <body>
    <div class="app">
      <%- include('../components/Header.ejs') %>
      <main><%- include('../components/Sidebar.ejs') %> <%- body %></main>
    </div>
  </body>
</html>
